*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



..foundingAca {
    position: relative; 
    height: 400px; /* Or whatever height your section needs to be */
    width: 100%;
}

.bottom-left-img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.imgDiv img{
    width: 550px;
    height: 391px;
}
.contentDiv{
    padding: 30px;
}
.headingFounding{
    border-left: 9px solid #B53232;
    font-size: 50px;
    padding-left: 5px;
    line-height: 90%;
}
.contentDiv p{
    margin-bottom: 5px;
    font-size: 16px;
}